@import "foundation-config";

$modal-bg-z-index: 1000;
$modal-z-index: 1001;

// SELF ADDED COLORS
$clickable-bg-hover: #e7f5fe;
$clickable-bg-active: #9dd7fb;
$clickable-bg-border: #6cc3f9;

$heart-red: #e60000;

$stat-color: $primary-color;

$list-item-img-size: 80px;

$box-border-radius: 4px;

$user-img-size: 120px;